@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@layer components {
  section {
    @apply px-10 tab:px-20;
  }
  h1 {
    @apply tab:text-[86px] font-bold tab:leading-[100px] text-5xl text-center tab:text-left font-Oswald

  }
  h2 {
    @apply tab:text-6xl font-bold text-center tab:text-left text-4xl font-Oswald
  }
  h3 {
    @apply tab:text-2xl font-semibold text-center tab:text-left text-base font-poppins
  }
  h4 {
    @apply tab:text-base font-semibold text-center tab:text-left text-xs font-poppins
  }
  p {
    @apply tab:text-sm font-normal text-xs text-gray text-center tab:text-left font-poppins
  }
  a {
    @apply font-semibold font-poppins
  }
  a:hover {
    @apply text-pink-light transition-all;
  }
  button {
    @apply font-poppins font-semibold
  }
  label {
    @apply text-sm opacity-50
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pri--col: #eb268f;
  --black-col: #000;
  --white-col: #fff;
  --gray-col: #b2b2b2;
}
