@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@layer components {
  section {
    @apply px-10 tab:px-20;
  }
  h1 {
    @apply tab:text-[86px] font-bold tab:leading-[100px] text-5xl text-center tab:text-left font-Oswald;
  }
  h2 {
    @apply tab:text-6xl font-bold text-center tab:text-left text-4xl font-Oswald;
  }
  h3 {
    @apply font-semibold text-center tab:text-left text-4xl font-poppins;
  }
  h4 {
    @apply tab:text-base font-semibold text-center tab:text-left text-xs font-poppins;
  }
  p {
    @apply tab:text-sm font-normal text-xs text-gray text-center tab:text-left font-poppins;
  }
  a {
    @apply font-semibold text-lg tab:text-base font-poppins cursor-pointer;
  }
  a:hover {
    @apply text-brand-light transition-all;
  }
  button {
    @apply font-poppins font-semibold;
  }
  label {
    @apply text-sm opacity-50;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

:root {
  --pri--col: #eb268f;
  --black-col: #000;
  --white-col: #fff;
  --gray-col: #b2b2b2;
}

/* HAMBURGER ANIMATION */

.ham-btn {
  width: 80px;
  cursor: pointer;
  transform: scale(0.5);
}

.hml {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 8px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}

.hml-2,
.hml-3 {
  margin-top: 14px;
}

.active .hml-1 {
  animation: ease 0.5s top forwards;
}

.not-active .hml-1 {
  animation: ease 0.5s top-2 forwards;
}

.active .hml-2 {
  animation: ease 0.5s scaled forwards;
}

.not-active .hml-2 {
  animation: ease 0.5s scaled-2 forwards;
}

.active .hml-3 {
  animation: ease 0.5s bottom forwards;
}

.not-active .hml-3 {
  animation: ease 0.5s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 22px;
    transform: rotate(0);
  }

  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }

  50% {
    top: 22px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.markdown li {
  font-size: 16px;
}

.markdown li {
  list-style: circle;
  color: #000;
  /* margin: rem; */
}

ul li p strong,
p strong {
  font-size: 16px;
  font-weight: bold;
}

ul li p,
.markdown p {
  font-size: 14px;
  color: #000;
}

/* HAMBURGER ANIMATION */

.slick-list {
  width: 90%;
  margin: auto;
}

/* HAMBURGER ANIMATION */

@media only screen and (min-width: 600px) {
  .parent {
    display: block;
    position: relative;
    float: left;
    border-radius: 4px;
  }

  .parent a {
    color: black;
    text-decoration: none;
  }

  .parent:hover > ul {
    display: block;
    position: absolute;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  }

  .child {
    display: none;
  }

  .child li {
    background-color: white;
    padding: 4px;
  }

  .child li a {
    color: #0000006f;
    padding-inline: 10px;

    width: 100%;
  }
  .child li a:hover {
    color: #339ac0;
  }

  ul ul ul {
    left: 100%;
    top: 0;
  }
}

.shd {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

img {
  margin: auto;
}

/* FOOTER */

.footer-link li {
  margin-left: 18px;
  list-style: circle;
}

.footer-link li a {
  font-weight: 400;
}

/* FOOTER */
