@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pri--col: #eb268f;
  --black-col: #000;
  --white-col: #fff;
  --gray-col: #b2b2b2;
}

h1 {
font-size: 96px;
font-weight: 700;;
line-height: 100px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--pri--col);
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-col);
}

p {
font-size: 16px;
font-weight: 400;
color: var(--gray-col);
}

a {
  font-weight: 600;
}

a:hover {
  color: var(--pri--col);
  transition: all ease 0.2s;
}